<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <!-- Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-EJ98MMW8JV"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-EJ98MMW8JV');
    </script>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title>AlgoMentor</title>
</head>
<body>
    <h1>AlgoMentor</h1>
    <h2>An AI-powered platform for algorithm practice and interview preparation</h2>
    <hr>
    
    <p>AlgoMentor simulates real technical interviews by sourcing random problems from LeetCode and providing a built-in timer to practice under realistic time constraints.</p>

    <div class="list-and-button">
        <div class="features">
            <h3>Features</h3>
            <ul>
                <li>Practice coding problems from LeetCode</li>
                <li>Simulate timed coding interviews with a built-in timer</li>
                <li>Filter problems by difficulty</li>
                <li>AI-powered assistance to guide your problem-solving</li>
            </ul>
        </div>
        <a href="/problems"><button>View Problems</button></a>
    </div>
</body>
</html>